/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.tab-panel {
  border: 1px solid #ddd; /* 1px border on top, left, and right */
  border-bottom: none !important;
  padding: 10px;
  border-radius: 4px;
}

.nav-tabs {
  border-bottom: 4px solid transparent; /* Ensure the nav-tabs have a transparent border */
}

.nav-tabs > li {
  border-bottom: 4px solid transparent; /* Default transparent border */
  transition: border-color 0.3s ease; /* Smooth transition */
}

.nav-tabs > li:hover {
  border-bottom: 4px solid #375a7f; /* Change to the desired color on hover */
}

.member-tabset > .nav-tabs > li.open,
.member-tabset > .nav-tabs > li:hover {
  border-bottom: 4px solid #375a7f;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  background: none !important;
  color: #375a7f;
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #375a7f; /* Dark blue */
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #3498db; /* Active tab border */
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #3498db;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #3498db;
}

.member-tabset > .nav-tabs > li {
  position: relative; /* Ensure positioning for hover effects */
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: inherit;
  border: 0;
  padding: 15px 0;
}
